[package]
name = "api"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
core = { path = "../core" }

lazy_static = "1.4.0"
serde = { version = "1.0.144", features = ["derive"] }
